arquivos/node-red flow.json
[
    {
        "id": "4eb325054f828132",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "763032a9e069c7f4",
        "type": "aedes broker",
        "z": "4eb325054f828132",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 170,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4baeb87c915040e2",
        "type": "mqtt in",
        "z": "4eb325054f828132",
        "name": "",
        "topic": "topico/timestamp",
        "qos": "0",
        "datatype": "auto",
        "broker": "0aa47aab85c177fe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "e8f477fd0d8d25e0"
            ]
        ]
    },
    {
        "id": "75efceefdadb29d0",
        "type": "mqtt out",
        "z": "4eb325054f828132",
        "name": "",
        "topic": "topico/timestamp",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0aa47aab85c177fe",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "5013333197ec6535",
        "type": "inject",
        "z": "4eb325054f828132",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "75efceefdadb29d0"
            ]
        ]
    },
    {
        "id": "e8f477fd0d8d25e0",
        "type": "debug",
        "z": "4eb325054f828132",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "69dc3ecc411e8cc7",
        "type": "mqtt in",
        "z": "4eb325054f828132",
        "name": "",
        "topic": "topico/humidade",
        "qos": "0",
        "datatype": "auto",
        "broker": "4319c428324c3612",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "f315f619e4003242",
                "797ebbe4a8295929",
                "677ba1298b0fa0d1"
            ]
        ]
    },
    {
        "id": "22cf84beb4f6ae40",
        "type": "mqtt out",
        "z": "4eb325054f828132",
        "name": "",
        "topic": "topico/led",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4319c428324c3612",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "d0d17627f76ee360",
        "type": "inject",
        "z": "4eb325054f828132",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "22cf84beb4f6ae40"
            ]
        ]
    },
    {
        "id": "f315f619e4003242",
        "type": "debug",
        "z": "4eb325054f828132",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "45a139421db334bd",
        "type": "inject",
        "z": "4eb325054f828132",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "22cf84beb4f6ae40"
            ]
        ]
    },
    {
        "id": "f62ac6fb73a9df77",
        "type": "mqtt in",
        "z": "4eb325054f828132",
        "name": "",
        "topic": "topico/temperatura",
        "qos": "0",
        "datatype": "auto",
        "broker": "4319c428324c3612",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "f315f619e4003242",
                "b81f9cfb85392b3a",
                "231fc881e5d98fa0"
            ]
        ]
    },
    {
        "id": "816ab0cf2819f2dc",
        "type": "mqtt in",
        "z": "4eb325054f828132",
        "name": "",
        "topic": "topico/led",
        "qos": "0",
        "datatype": "auto",
        "broker": "4319c428324c3612",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "f315f619e4003242"
            ]
        ]
    },
    {
        "id": "353a77bb0a7481fa",
        "type": "ui_switch",
        "z": "4eb325054f828132",
        "name": "",
        "label": "janela",
        "tooltip": "",
        "group": "c57fefc78e4327b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "22cf84beb4f6ae40"
            ]
        ]
    },
    {
        "id": "b81f9cfb85392b3a",
        "type": "ui_gauge",
        "z": "4eb325054f828132",
        "name": "",
        "group": "086c46a2fadaddff",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#0000b4",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "797ebbe4a8295929",
        "type": "ui_gauge",
        "z": "4eb325054f828132",
        "name": "",
        "group": "85e3203c24399c1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b8f5"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 880,
        "wires": []
    },
    {
        "id": "de9554e5fc8bceca",
        "type": "ui_chart",
        "z": "4eb325054f828132",
        "name": "",
        "group": "85e3203c24399c1e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "historico de humidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "677ba1298b0fa0d1",
        "type": "change",
        "z": "4eb325054f828132",
        "name": "stringtonumber",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 920,
        "wires": [
            [
                "de9554e5fc8bceca",
                "d558e32c8b9e51b6"
            ]
        ]
    },
    {
        "id": "68db79be3aa1fcfa",
        "type": "debug",
        "z": "4eb325054f828132",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "d558e32c8b9e51b6",
        "type": "debug",
        "z": "4eb325054f828132",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ec4f2c4a3305e596",
        "type": "inject",
        "z": "4eb325054f828132",
        "name": "12.34C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12.34C",
        "payloadType": "str",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "231fc881e5d98fa0"
            ]
        ]
    },
    {
        "id": "231fc881e5d98fa0",
        "type": "function",
        "z": "4eb325054f828132",
        "name": "",
        "func": "let mensagem = {};   // start new\nmensagem.payload = (msg.payload).slice(0,-1);\nmensagem.payload = parseFloat(mensagem.payload)\nreturn mensagem",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "68db79be3aa1fcfa",
                "24b3247a4ed364aa"
            ]
        ]
    },
    {
        "id": "24b3247a4ed364aa",
        "type": "ui_chart",
        "z": "4eb325054f828132",
        "name": "",
        "group": "086c46a2fadaddff",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "historico de temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac6640b4282a05d",
        "type": "ui_spacer",
        "z": "4eb325054f828132",
        "name": "spacer",
        "group": "086c46a2fadaddff",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "907d9cb5df7f2ec0",
        "type": "ui_spacer",
        "z": "4eb325054f828132",
        "name": "spacer",
        "group": "85e3203c24399c1e",
        "order": 2,
        "width": "1",
        "height": "1"
    },
    {
        "id": "0aa47aab85c177fe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4319c428324c3612",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c57fefc78e4327b8",
        "type": "ui_group",
        "name": "switch da janela",
        "tab": "b81c6057005971a3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "086c46a2fadaddff",
        "type": "ui_group",
        "name": "temperatura",
        "tab": "b81c6057005971a3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85e3203c24399c1e",
        "type": "ui_group",
        "name": "humidade",
        "tab": "b81c6057005971a3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b81c6057005971a3",
        "type": "ui_tab",
        "name": "painel da janela",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]